@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandstander&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

.logo{
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

@keyframes type_animation{
    0% {
        margin-top: 12px;
        text-align: center;
        width: 0ch;
        overflow: hidden;
        white-space: nowrap;
    }
    100% {
        margin-top: 12px;
        text-align: center;
        width: 22ch;
        overflow: hidden;
        white-space: nowrap;
    }
}

@keyframes type_animation_2{
    0% {
        margin-top: 12px;
        text-align: center;
        width: 0ch;
        overflow: hidden;
        white-space: nowrap;
    }
    100% {
        margin-top: 12px;
        text-align: center;
        width: 37ch;
        overflow: hidden;
        white-space: nowrap;
    }
}


@keyframes source_animation{
    0% {
        text-align: center;
        width: 0ch;
        white-space: nowrap;
        overflow: hidden;
    }
    100% {
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        width: 35ch;
    }
}


#source{
    clear: both;
    float: center;
    display: block;
    margin: auto;
    text-align: center;
    overflow: hidden;
    animation: source_animation 20s;
    color: orange ;

}


h1{
    cursor: grab;
    color: crimson;
    display: block;
    margin: auto;
    margin-top: 12px;
    font-size: 25px;
    font-family: 'Chelsea Market', cursive;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    animation: type_animation 3s steps(22);
}


h2{
    cursor: grab;
    display: block;
    margin: auto;
    margin-top: 12px;
    font-size: 20px;
    text-align: center;
    font-family: 'Grandstander', cursive;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    animation: type_animation_2 7s steps(37);
    color: #d2e603;
}

.container{
    max-width: 1000px;
    border: 5px solid #959595;
    border-radius: 20px;
    animation-name: eg;
    animation-duration: 10s;
    margin: auto;
    height: 61vh;
    padding: 33px;
    overflow-y: auto;
    margin-bottom: 23px;
    background-color: #353941;
}

body{
  background-color: #26282b;

}

.message{
    background-color: greenyellow;
    padding: 10px;
    margin: 17px 12px;
    width: 24%;
    border: 2px solid black;
    border-radius: 20px;
    font-family: 'Amaranth', sans-serif;

}

.left {
    float: left;
    clear: both;
    background-color: lime;
}

.right{
    float: right;
    clear: both;
    background-color: lightblue;
}

.middle{
    cursor: pointer;
    border: 3px solid #666;
    border-radius: 15px;
    height: 30px;
    width: 270px;
    display: block;
    margin: auto;
    text-align: center;
    clear: both;
    color: whitesmoke;
    padding-top: 8px;
    font-family: 'Amaranth', sans-serif;
    background-color: #29539b;
  background-image: linear-gradient(315deg, #29539b 0%, #1e3b70 74%);
}



#send-container{
    text-align: center;
    display: block;
    margin: auto;
    width: 100%;
    max-width: 985px;
}

#messageInp {
    width: 93%;
    border: 3px solid black;
    border-radius: 20px;
    height: 37px;
    overflow-y: scroll;
    background-color: #646464;
    color: white;
}

.btn{
    cursor: pointer;
    border: 3px solid black;
    border-radius: 20px;
    height: 45px;
    width: 45px;
    color: white;
    margin-left: 5px;
    background-color: #045de9;
    background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
}

/* @Avishkarpatil */
